{% extends "layout.html" %}

{% block body %}
        <form action= "/register" method="post" >
            <div class="col-md-4">
            <label for="validationCustom01" class="form-label"></label>
            <input name = "name" placeholder = "Name" type="text" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
        </div>
    </div>
            <input name = "email" placeholder = "Email" type ="text">
            <select name = "dorm">
                <option disabled selected value = " "> Dorm </option>
                <option value = "Apley Court">Apley Court</option>
                <option value = "Canaday"> Canaday</option>
            </select>
           
            <!-- <input type = "submit" value="Register"> -->
            <input type = "submit" value = "Register" button type="button" class="btn btn-primary"></button>
        </form>

        <form action = "/search" method ="get">
            <input autocomplete="off" autofocus name = "q" placeholder="Query" type="text">
            <input type = "submit" value = "Search" button type="button" class="btn btn-primary"></button>
            <!-- <input type="submit" value="Search"> -->
        </form>

        
        <div>
            <form action = "/location" method ="get">
            <img src="https://www.goodfreephotos.com/cache/united-states/new-york/new-york-city/face-of-the-statue-of-liberty-in-new-york.jpg" width=450px align=center><br> <br>
              <div style="text-align: justify;padding:10px">
              Find out How far you are from New York using this geolocation api
              
              </div>
            <br><br>
 
          <input onclick="getlocation()" value = "Compute distance to Statue of Liberty" button type="button" class="btn btn-primary"></button>
          <br>
          <span id="output"></span>
          <br>
          <br>

          </div>
      
          <div id="q2" style="display:none;padding:10px">
          Click on the button below to find out how long it would take you to walk to the Statue of Liberty.
            <div>
            <img src="http://www.clipartbest.com/cliparts/7Ta/RgE/7TaRgErbc.gif" width="100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Statue-of-liberty.svg/512px-Statue-of-liberty.svg.png" width="150px">
            </div>
          </div>
        </form>
        
        <script>
            var output = document.getElementById("output");
            var kms = 0;
            var duration = 0;
            function getlocation() {  
                if(navigator.geolocation){  
                    navigator.geolocation.getCurrentPosition(howFar)  
                  }  
                else  
                {  
                     alert("Your browser does not support Geolocation API.")  
                 }
                  }  
               
             function howFar(position){  
               var lat1  = position.coords.latitude;
               var long1 = position.coords.longitude;  
               
               //Coordinates of Statue of Liberty
            
            
               var lat2  =  40.690400;
               var long2 = -74.045792;
               kms = distance(lat1, long1, lat2, long2, 'K');
               kms = parseFloat(kms).toFixed(2)
               //alert(kms);
               duration = parseFloat(kms / 5 / 24).toFixed(2) // days 
               document.getElementById('output').innerHTML = "<br> You are <h3>" + kms +  " Kilometers </h3> away from Statue of Liberty.<br>";
               document.getElementById('days').innerHTML = "<strong>" + duration + "<strong>";
               document.getElementById('q2').style.display = "inline";
             } 
            
             function distance(lat1, lon1, lat2, lon2, unit) {
            if ((lat1 == lat2) && (lon1 == lon2)) {
                return 0;
            }
            else {
                var radlat1 = Math.PI * lat1/180;
                var radlat2 = Math.PI * lat2/180;
                var theta = lon1-lon2;
                var radtheta = Math.PI * theta/180;
                var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                if (dist > 1) {
                    dist = 1;
                }
                dist = Math.acos(dist);
                dist = dist * 180/Math.PI;
                dist = dist * 60 * 1.1515;
                if (unit=="K") { dist = dist * 1.609344 }
                if (unit=="N") { dist = dist * 0.8684 }
                return dist;
            }
            } 
            
            </script>
{% endblock %}